{% if form.error %}				<!-- #1 -->
<p class="bg-danger">{{form.error}}</p>
{% endif %}
<form role="form" method="post" class="add-album">
    <div class="form-group">
        <label for="artist_name">Artist</label>
        <ul class="errors">
            {% for e in form.validation-errors.artist_name %}
            <li>{{e}}</li>
            {% endfor %}
        </ul>
        <input type="input" name="artist_name" class="form-control" id="artist_name" value="{{ form.new.artist_name }}">
    </div>
    <div class="form-group">
        <label for="album_name">Album</label>
        <ul class="errors">
            {% for e in form.validation-errors.album_name %}
            <li>{{e}}</li>
            {% endfor %}
        </ul>
        <input type="input" name="album_name" class="form-control" id="album_name" value="{{ form.new.album_name }}">
    </div>
    <div class="form-group">
        <label for="release_date">Release Date</label>
        <ul class="errors">
            {% for e in form.validation-errors.release_date %}
            <li>{{e}}</li>
            {% endfor %}
        </ul>
        <input type="date" name="release_date" class="form-control" id="release_date" value="{{ form.new.release_date }}">
        <p class="help-block">yyyy-mm-dd</p>
    </div>
    <div class="form-group submit">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
